**/node_modules
**/.astro
**/dist
**/.output
**/.cache
**/.env
**/.env.*
!**/.env.example
**/playwright-report
**/test-results
**/coverage
**/.DS_Store
.git
.github
.vscode
.idea
*.log
README.md
TODOS.md
